﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesQoutationAndStaffManagement</title>
    <link href="~/assets/img/favicon.ico" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/dao-base.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/dao-admin.css">
    <link href="~/assets/icons/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet">

</head>
<body>

    <main>
        <nav class="sidebar sidebar-expand sidebar-desktop">
            <div class="sidebar-content">
                <div class="sidebar-main">
                    <div class="header">
                        <div class="logo">
                            <img src="/assets/img/logo.jpeg" style="width:100%">
                        </div>
                        <div class="nav-menu close-sm">
                            <svg width="35" height="35" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 18L18 6M6 6L18 18" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                    <div class="site-title">
                        <h6>Exhibition</h6>
                    </div>
                    <ul class="items">
                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin")
                        {
                            <li class="@ViewBag.UserTab" onclick="location.href='/User'" tabindex="1">
                                <img src="/assets/img/icons/cube.svg">
                                <div class="item-title">Users</div>
                            </li>
                            /*
                            <li class="" @*onclick="location.href='/user'"*@ tabindex="2">
                                <img src="/assets/img/icons/user.svg">
                                <div class="item-title">Users</div>
                            </li>
                            <li class="@ViewBag.designationtab" onclick="location.href='/designation'" tabindex="3">
                                <i class="fa fa-arrows-alt-v"></i>
                                <div class="item-title">Designations</div>
                            </li>

                            <li class="@ViewBag.etypetab" onclick="location.href='/expensetype'" tabindex="2">
                                <img src="/assets/img/icons/cube.svg">
                                <div class="item-title">Expense Types</div>
                            </li>

                            <li class="@ViewBag.projecttab" onclick="location.href='/project'" tabindex="4">
                                <img src="/assets/img/icons/chevron-double-right.svg">
                                <div class="item-title">Projects</div>
                            </li>*/
                            <li class="@ViewBag.clienttab" onclick="location.href='/stall'" tabindex="2">
                                <img src="/assets/img/icons/customer.svg">
                                <div class="item-title">Clients</div>
                            </li>
                        }
                        else
                        {
                            <li class="@ViewBag.clienttab" onclick="location.href='/stall'" tabindex="1">
                                <img src="/assets/img/icons/cube.svg">
                                <div class="item-title">Stalls</div>
                            </li>
                            <li class="@ViewBag.clienttab" onclick="location.href='/company/cards'" tabindex="2">
                                <img src="/assets/img/icons/customer.svg">
                                <div class="item-title">Cards</div>
                            </li>
                            <li class="@ViewBag.clienttab" onclick="location.href='/company/feedback'" tabindex="3">
                                <img src="/assets/img/icons/complaint.svg">
                                <div class="item-title">Feed Back</div>
                            </li>
                            /*
                            <li class=""--> @*onclick="location.href='/Stall/Index'"*@
                            tabindex="1">
                                <img src="/assets/img/icons/cube.svg">
                                <div class="item-title">Stalls</div>
                            </li>

                            <li class="" @*onclick="location.href='/Company/Cards'"*@ tabindex="2">
                                <img src="/assets/img/icons/cube.svg">
                                <div class="item-title">Cards</div>
                            </li>
                            <li class="" onclick="location.href='/attendance'"
                                tabindex="2">
                                <img src="/assets/img/icons/cube.svg">
                                <div class="item-title">Attendance</div>
                            </li>
                            <li class="" onclick="location.href='/quotaion'"
                                tabindex="3">
                                <img src="/assets/img/icons/maintenance.svg">
                                <div class="item-title">Quotations</div>
                            </li>*/

                        }

                    </ul>
                </div>
                <div class="footer">
                    <div class="profile-pic dropdown">
                        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/assets/img/profile_pic.jpg">
                        </button>
                        <div class="dropdown-menu">
                            <div class="media">
                                <img src="/assets/img/profile_pic.jpg">
                                <div class="media-body">
                                    <strong class="d-block" data-toggle="modal" data-target="#changepassword">@HttpContextAccessor.HttpContext.Session.GetString("Name")</strong>
                                    <small class="text-muted d-block">@HttpContextAccessor.HttpContext.Session.GetString("Role")</small>
                                    @*<div class="language-container">
                                            <div class="img-container active">
                                                <img src="/assets/img/english.png" data-toggle="tooltip" data-placement="top" title="English">
                                            </div>
                                            <div class="img-container">
                                                <img src="/assets/img/danish.png" data-toggle="tooltip" data-placement="top" title="Danish">
                                            </div>
                                        </div>*@
                                    <div class="btn-group">
                                        <form>
                                            <a href="/Login" class="btn btn-link">Logout</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse-sidebar">
                        <i class="fa fa-angle-double-left"></i>
                        <div class="item-title">Collapse</div>
                    </div>
                </div>
            </div>
        </nav>
        <content>
            <section class="main-content">
                @RenderBody()

            </section>
        </content>
    </main>
    <div class="modal notice-modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="addGiftVoucher" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Change Password</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 form-group">
                            <label>Old Password</label>
                            <input type="password" id="opassword" class="form-control">
                            <span class="text-danger"></span>
                        </div>

                        <div class="col-md-12 col-sm-12 form-group">
                            <label>New Password</label>
                            <input type="password" id="npassword" class="form-control">
                            <span class="text-danger"></span>
                        </div>

                        <div class="col-md-12 col-sm-12 form-group">
                            <label>Confirm Password</label>
                            <input type="password" id="conpassword" class="form-control">
                            <span class="text-danger"></span>
                        </div>


                        <hr class="mt-4 mb-0">
                    </div>
                </div>
                <div class="modal-footer justify-content-start">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" onclick="ChangePassword()" class="btn btn-primary mx-2">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src='~/assets/js/vendor/jquery-3.5.1.min.js'></script>
    <script src='~/assets/js/vendor/bootstrap.bundle.min.js'></script>
    <script src='~/assets/js/vendor/jquery.easing.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.min.js"></script>
    <script src='~/assets/js/main.js'></script>
    <script src='~/assets/js/project-custom.js'></script>
    <script src='~/assets/js/project-caller.js'></script>

    <script>
        function ChangePassword() {
            if ($("#npassword").val() == $("#conpassword").val()) {


                var oldpassword = $("#opassword").val();
                var newpassword = $("#npassword").val();

                $.getJSON('/Login/UpdatePassword', {
                    oldpassword: oldpassword, newpassword: newpassword
                }, function (result, textStatus, jqXHR) {
                    if (result.success) {
                        window.location.reload();
                        //setupDivisionVals();
                    }
                    else {
                        alert("oops, Current password entered is incorrect. Try Again");
                    }
                });
            }
            else {
                alert("New Password and Confirm Password doesnot match. Try Again!!!");
                return;
            }
        }
    </script>
</body>
</html>