﻿@model IEnumerable<ExhibitionApp.Data.DataModels.ContactCard>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-content">
    <div class="section-title">
        <div class="top-row">
            <h1>Contact Cards</h1>
            <div class="nav-menu menu-sm">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 6H20M4 12H20M4 18H20" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
    <div class="row widget-card table-fh p-0">
        <div class="col-md-12 p-0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><a href="#">#</a></th>
                        <th><a href="#" class="sort-by">Name</a></th>
                        <th><a href="#" class="sort-by">Contact</a></th>

                        <th><a href="#" class="sort-by">Email</a></th>
                        <th><a href="#" class="sort-by">Address</a></th>
                        <th class="mid"></th>
                    </tr>
                </thead>
                <tbody>
                    @{int index = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="Serial" data-toggle="modal" data-target="#editGiftVoucher" style="cursor:pointer;"><strong>@(++index)</strong></td>
                            <td data-title="Title">
                                @item.Name
                            </td>
                            <td data-title="Contact">@item.Contact</td>
                            <td data-title="Email">@item.Email</td>
                            <td data-title="Address">
                                @item.Address
                            </td>
                           
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>

</div>
