﻿@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Exhibition</title>
    <link href="~/assets/img/favicon.ico" rel="icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/dao-base.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/dao-admin.css">
    <link href="~/assets/icons/icofont/icofont.min.css" rel="stylesheet">
</head>


<div id="buttonandlogin" class="text-center">   
    <div>
        <button class="btn-primary btn-lg text-center">Enter the Exhibition</button>
    </div>
    @Html.ActionLink("Login","Index","Login")
</div>

<style>
    #buttonandlogin{
        margin-top:25%;
    }
    body{
        background : url(~/wwwroot/images/bg.jpg);
        margin:0;
    }
</style>


