﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<ExhibitionApp.Data.DataModels.Stall>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-content">
    <div class="section-title">
        <div class="top-row">
            <h1>Stalls</h1>
            <div class="nav-menu menu-sm">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 6H20M4 12H20M4 18H20" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="container">
            <div class="row">
                <div class="offset-lg-4 col-lg-4 col-sm-6 col-6">
                    <div class="card">
                        <h4 class="float-left">Stall #@item.StallNo</h4>
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    @if (item.Image1 == null)
                                    {
                                        <img class="d-block img-fluid" src="https://dummyimage.com/350x180/000/fff.png">
                                    }
                                    else
                                    {
                                        <img class="d-block img-fluid" src="/uploads/@item.Image1">
                                    }
                                </div>
                                <div class="carousel-item">
                                    @if (item.Image2 == null)
                                    {
                                        <img class="d-block img-fluid" src="https://dummyimage.com/350x180/000/fff.png">
                                    }
                                    else
                                    {
                                        <img class="d-block img-fluid" src="/uploads/@item.Image2">
                                    }
                                </div>
                                <div class="carousel-item">
                                    @if (item.Image3 == null)
                                    {
                                        <img class="d-block img-fluid" src="https://dummyimage.com/350x180/000/fff.png">
                                    }
                                    else
                                    {
                                        <img class="d-block img-fluid" src="~/uploads/@item.Image3">
                                    }
                                </div>
                                <div class="carousel-item">
                                    @if (item.Image4 == null)
                                    {
                                        <img class="d-block img-fluid" src="https://dummyimage.com/350x180/000/fff.png">
                                    }
                                    else
                                    {
                                        <img class="d-block img-fluid" src="/uploads/@item.Image4">
                                    }
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="card-block">
                            <div class="row" style="padding:20px">
                                @if (item.Logo == null)
                                {
                                    <img style="width: 50px;" src="/assets/img/defaultimages/AddYourLogo.png" alt="Logo" />
                                }
                                else
                                {
                                    <img style="width: 50px;" src="/uploads/@item.Logo" alt="Logo" />
                                }
                                @if (item.IsBooked == false)
                                {
                                    <h4 class="card-title text-info">Company Name Here</h4>
                                }
                                else
                                {
                                    <h4 class="card-title text-info">@item.CompanyTitle</h4>
                                }
                            </div>
                            @if (item.IsBooked == false)
                            {
                                 <p class="card-text">Company Message Will be Here.</p>
                            }
                            else
                            {
                                  <p class="card-text">@item.Message</p>
                            }
                            
                            <a href="#" class="btn btn-info">Youtube Link</a>
                            <a href="#" class="btn btn-info">Pdf</a>
                            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin" && !item.IsBooked)
                            {
                                <a><i data-toggle="modal" data-target="#assigncompany" onclick="getStall('@item.Id')" class="fas fa-pen"></i></a>
                            }
                            else if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Admin" && item.IsBooked)
                            {
                                <a><i style="color:red; font-size:30px" data-toggle="modal" data-target="#" onclick="clearStall('@item.Id')" class="fas fa-redo-alt"></i></a>
                            }
                            else if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Company")
                            {
                                <a><i data-toggle="modal" data-target="#updatestall" class="fas fa-pen"></i></a>
                                HttpContextAccessor.HttpContext.Session.SetString("Stall", item.Id);
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }


</div>

<div class="modal notice-modal fade" id="assigncompany" tabindex="-1" role="dialog" aria-labelledby="addGiftVoucher" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Assign Stall</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-sm-12 form-group">
                    <label>Companiesr</label>
                    <select id="acompany" class="form-control">
                        @{
                            var getlist = ViewBag.companies as IEnumerable<ExhibitionApp.Data.DataModels.Company>;
                            <option value="">--Please Select--</option>
                            foreach (var company in getlist)
                            {
                                <option value=@company.Id>@company.Title</option>
                            }
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="assignCompany()" class="btn btn-primary mx-2">Assign</button>
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="stall" asp-action="updatestall">

    <div class="modal notice-modal fade" id="updatestall" tabindex="-1" role="dialog" aria-labelledby="addGiftVoucher" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Update Stall</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 form-group">
                            <label>Company Logo</label>
                            <input type="file" name="logo" id="logo" accept="images/*" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label>Image 1</label>
                            <input type="file" name="image1" id="image1" accept="images/*" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label>Image 2</label>
                            <input type="file" name="image2" id="image2" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label>Image 3</label>
                            <input type="file" name="image3" id="image3" />
                        </div>
                        <div class="col-md-6 col-sm-12 form-group">
                            <label>Image 4</label>
                            <input type="file" name="image4" id="image4" />
                        </div>

                        <div class="col-md-6 col-sm-12 form-group">
                            <label>PDF file</label>
                            <input type="file" name="pdf" id="pdf" />
                        </div>

                        <div class="col-md-6 col-sm-12 form-group">
                            <label>Youtube Link</label>
                            <input type="text" name="youtubelink" id="youtubelink" class="form-control" placeholder="Youtube Link">
                            <span class="text-danger"></span>
                        </div>

                        <div class="col-md-12 col-sm-12 form-group">
                            <label>Message</label>
                            <textarea name="message" id="message" class="form-control" placeholder="Company Message"></textarea>
                            <span class="text-danger"></span>
                        </div>



                        <hr class="mt-4 mb-0">
                    </div>
                </div>
                <div class="modal-footer justify-content-start">
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input class="btn btn-secondary" type="submit" value="Update" />

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">

        function clearStall(id) {
            if (confirm("Are you sure you want to release this stall?")) {
                var stallid = id;
                $.getJSON('/Stall/ClearStall', {
                    stallid: stallid
                }, function (result, textStatus, jqXHR) {
                    if (result.success) {
                        window.location.reload();
                        //setupDivisionVals();
                    }
                    else {
                        alert("oops, There was an error please try again later");
                    }
                });
            }

        }
        function assignCompany() {
            if ($("#acompany").val() == "") {
                alert("Please Select a Company to Assign");
                return;
            }
            var companyid = $("#acompany").val();
            var stallid = editstallid;
            $.getJSON('/Stall/AssignToStall', {
                stallid: stallid, companyid: companyid
            }, function (result, textStatus, jqXHR) {
                if (result.success) {
                    window.location.reload();
                    //setupDivisionVals();
                }
                else {
                    alert("oops, There was an error please try again later");
                }
            });
        }
        var editstallid = "";
        function getStall(id) {
            editstallid = id;
        }
    </script>
