﻿@model IEnumerable<ExhibitionApp.Data.DataModels.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-content">
    <div class="section-title">
        <div class="top-row">
            <h1>Companies</h1>
            <div class="nav-menu menu-sm">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 6H20M4 12H20M4 18H20" stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addcompany"><i class="fa fa-plus pr-1"></i> Add <span>Company</span></button>
            @* <button class="btn btn-primary filter-toggle"><i class="fa fa-filter pr-1"></i> Filters</button>*@
        </div>
    </div>
    <div class="row widget-card table-fh p-0">
        <div class="col-md-12 p-0">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><a href="#">#</a></th>
                        <th><a href="#" class="sort-by">Title</a></th>
                        <th><a href="#" class="sort-by">Contact</a></th>
                        <th><a href="#" class="sort-by">Contact Person</a></th>
                        <th><a href="#" class="sort-by">Email</a></th>
                        <th><a href="#" class="sort-by">Address</a></th>
                        <th class="mid"></th>
                    </tr>
                </thead>
                <tbody>
                    @{int index = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td data-title="Serial" data-toggle="modal" data-target="#editGiftVoucher" style="cursor:pointer;"><strong>@(++index)</strong></td>
                            <td data-title="Title">
                                @item.Title
                            </td>
                            <td data-title="Contact">@item.ContactNo</td>
                            <td data-title="Contact Person">@item.ContactPerson</td>
                            <td data-title="Email">@item.Email</td>
                            <td data-title="Address">
                                @item.Address
                            </td>
                            <td data-title="Action" class="mid table-actions" style="cursor:pointer;">
                                        <a><i data-toggle="modal" data-target="#" onclick="deleteCompany('@item.Id')" class="fas fa-trash "></i></a>
                                        <a><i data-toggle="modal" data-target="#updatecompany" onclick="getCompany('@item.Id')" class="fas fa-list"></i></a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>

</div>

<div class="modal notice-modal fade" id="addcompany" tabindex="-1" role="dialog" aria-labelledby="addGiftVoucher" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add Company</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Title</label>
                        <input type="text" id="ctitle" class="form-control" placeholder="Comapny Title">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Email</label>
                        <input type="text" id="cemail" class="form-control" placeholder="Valid Email Address">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Contact No.</label>
                        <input type="text" id="ccontact" class="form-control" placeholder="Company Contact Number">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Contact Person</label>
                        <input type="text" id="ccontactperson" class="form-control" placeholder="Conatct Person Name">
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Password</label>
                        <input type="password" id="cpassword" class="form-control">
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-12 col-sm-12 form-group">
                        <label>Address</label>
                        <textarea id="caddress" class="form-control" placeholder="Complete Address"></textarea>
                        <span class="text-danger"></span>
                    </div>

                    <hr class="mt-4 mb-0">
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="AddCompany()" class ="btn btn-primary mx-2">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal notice-modal fade" id="updatecompany" tabindex="-1" role="dialog" aria-labelledby="addGiftVoucher" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Add Company</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Title</label>
                        <input type="text" id="utitle" class="form-control" placeholder="Comapny Title">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Email</label>
                        <input type="text" id="uemail" class="form-control" placeholder="Valid Email Address">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Contact No.</label>
                        <input type="text" id="ucontact" class="form-control" placeholder="Company Contact Number">
                        <span class="text-danger"></span>
                    </div>
                    <div class="col-md-6 col-sm-12 form-group">
                        <label>Contact Person</label>
                        <input type="text" id="ucontactperson" class="form-control" placeholder="Conatct Person Name">
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-12 col-sm-12 form-group">
                        <label>Address</label>
                        <textarea id="uaddress" class="form-control" placeholder="Complete Address"></textarea>
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-12 col-sm-12 form-group">
                        <input id="stallid" name="stallid" type="hidden" />
                    </div>


                    <hr class="mt-4 mb-0">
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="UpdateCompany()" class="btn btn-primary mx-2">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function AddCompany() {
        if ($("#ctitle").val() == "") {
            alert("Please Enter The Company Title");
            return;
        }
        if ($("#cemail").val() == "") {

            alert("Email is Required");
            return;
        }
        if (!validateEmail($("#cemail").val())) {
            alert("email is not valid");
            return;
        }
        if ($("#ccontact").val() == "") {
            alert("Contact Number is Required");
            return;
        }
        if ($("#cpassword").val() == "") {
            alert("password is Required");
            return;
        }

        var title = $("#ctitle").val();
        var email = $("#cemail").val();
        var contact = $("#ccontact").val();
        var contactperson = $("#ccontactperson").val();
        var password = $("#cpassword").val();
        var address = $("#caddress").val();

        $.getJSON('/User/CreateCompany', {
            title: title, address: address, email: email, contact: contact, contactperson: contactperson,password: password
        }, function (result, textStatus, jqXHR) {
            if (result.success) {
                window.location.reload();
                //setupDivisionVals();
            }
            else {
                alert("oops, There was an error please try again later");
            }
        });
    }

    function validateEmail(email) {
        const re = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
             return re.test(email);
        }

    function UpdateCompany() {
        if ($("#utitle").val() == "") {
            alert("Please Enter The Company Title");
            return;
        }
        if ($("#uemail").val() == "") {
            alert("Email is Required");
            return;
        }
        if (!validateEmail($("#uemail").val())) {
            alert("email is not valid");
            return;
        }
        if ($("#ucontact").val() == "") {
            alert("Contact Number is Required");
            return;
        }

        var title = $("#utitle").val();
        var email = $("#uemail").val();
        var contact = $("#ucontact").val();
        var contactperson = $("#ucontactperson").val();
        var address = $("#uaddress").val();
        var id = id;

        $.getJSON('/User/UpdateCompany', {
            id: editcompanyid, title: title, address: address, email: email, contact: contact, contactperson: contactperson
        }, function (result, textStatus, jqXHR) {
            if (result.success) {
                window.location.reload();
                //setupDivisionVals();
            }
            else {
                alert("oops, There was an error please try again later");
            }
        });
    }
    function deleteCompany(id) {

        if (confirm("Are you sur you want to delete this reimbursment request?")) {
            $.getJSON('/User/DeleteCompany', { id: id }, function (result, textStatus, jqXHR) {
                if (result.success) {
                    alert("Reimbursment deleted successfully.");
                    window.location.reload();
                }
                else {
                    alert("oops, There was an error please try again later");
                }
            });
        }
    }


    var editcompanyid = "";
    function getCompany(id) {
        $.getJSON('/User/GetCompany', { id: id }, function (result, textStatus, jqXHR) {
            if (result.success) {
                editcompanyid = id;
                $("#utitle").val(result.company.title);
                $("#uemail").val(result.company.email);
                $("#ucontact").val(result.company.contactNo);
                $("#ucontactperson").val(result.company.contactPerson);
                $("#uaddress").val(result.company.address);
            }
            else {
                alert("oops, There was an error please try again later");
            }
        });
    }
</script>



