button:active, button:focus-within, .btn:active, button:focus, .btn:focus {
  background-color: #B10C16 !important;
  box-shadow: none;
  outline: none;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #e30613;
  border-color: #e30613;
  box-shadow: none;
  outline: none;
}

label, select {
  font-family: 'Muli';
  font-size: 0.95rem !important;
  font-weight: 300 !important;
}

input::placeholder {
  font-family: 'Muli';
  font-size: 0.85rem !important;
  font-weight: 300 !important;
}

button.btn-outline-primary {
  color: #e30613;
  background-color: #fff;
  border: 1px solid #e30613;
  transition: 0.125s linear;
}

button.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #e30613 !important;
  border: 1px solid #e30613 !important;
}

button.btn-outline-primary.dropdown-toggle, button.btn-outline-primary:active {
  color: #e30613;
  background-color: #fff;
  border: 1px solid #e30613;
  box-shadow: none;
  outline: none;
}

.dropdown-menu .dropdown-item:active {
  background-color: #B10C16;
}

/*--------------------------------------------------------------
# Radio group
--------------------------------------------------------------*/
.radio-group {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  width: 100%;
}

.radio-group input[type=radio] {
  display: none;
}

.radio-group input[type=radio]:not(:checked) + label {
  border: 2px solid transparent;
}

.radio-group input[type=radio]:checked + label {
  border: 2px solid #e30613;
}

.radio-group label {
  width: 50%;
  background: #ffffff;
  border: 0;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-weight: 900;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.radio-group label:not(:last-child) {
  margin-right: 5px;
}

.filter-block {
  display: none;
}

.widget-card.table-fh {
  height: calc(100vh - 230px);
}

.table-fh .table thead tr a {
  color: black;
  text-decoration: none;
}

.table-fh .table thead tr a i {
  color: #e30613;
  padding-left: 5px;
}

.table-fh .table tbody tr td.table-icons {
  text-align: center;
}

.table-fh .table tbody tr td.table-icons i {
  color: #e30613 !important;
  font-size: 1rem;
}

.table-fh .table tbody tr td.table-actions {
  display: flex;
  width: 70px;
}

.table-fh .table tbody tr td.table-actions a:not(:last-child) {
  margin-right: 5px;
}

.table-fh .table tbody tr td a {
  color: black;
  text-decoration: none;
}

.table-fh .table tbody tr td a i {
  color: #e30613;
  padding-left: 5px;
}

/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
.card {
  text-align: center;
  padding: 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  border: 0;
  margin: 1rem;
}

.card h4 {
  font-weight: 900;
  margin: 10px 0 10px 0;
  font-size: 22px;
  color: #333333;
  transition: ease-in-out 0.3s;
}

.card h4 small {
  font-size: 13px;
  font-weight: 800;
}

.card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 1px solid #F2F2F2;
}

.card .footer span {
  font-size: 24px;
  font-weight: 900;
}

.card .footer span small {
  font-size: 13px;
  font-weight: 800;
}

.card p {
  line-height: 24px;
  margin-bottom: 0;
}

.card:hover {
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.card.pointer {
  cursor: pointer;
}

.card.active {
  border: 2px solid #e30613;
}

.card.active:hover {
  box-shadow: 0px 3px 10px 0px rgba(227, 6, 19, 0.3);
}

.card.active h4 {
  color: #e30613;
}

.card.disabled {
  box-shadow: none;
}

.card.disabled > * {
  opacity: 0.35;
  pointer-events: none;
}

.card.disabled:hover {
  box-shadow: none;
}

.card.small {
  padding: 20px;
  height: 85px;
  align-items: center;
  justify-content: center;
}

.card.small .body {
  align-items: center;
}

.card.small h4 {
  margin: 0;
}

.card.media-card {
  text-align: left;
}

.card.media-card .profile-pic img {
  margin: 0;
  margin-right: 20px;
  width: 50px;
  max-width: none;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
}

.card.media-card img {
  height: 35px;
  max-width: 35px;
  margin-bottom: 15px;
}

.table-settings {
  height: calc(100vh - 145px) !important;
}

.table-card table .mid .pill {
  margin: 5px auto;
}

.card-filter {
  flex-direction: inherit;
  display: none;
}

.customer-table .last-login i {
  color: #e30613;
  font-size: 10px;
  margin-right: 2px;
}

.customer-table h6.text-left {
  font-weight: 200;
}

.customer-table h4 {
  font-weight: 700;
}

.customer-table h4 i {
  color: #E30613;
  font-size: 1rem;
}

.customer-table .pill {
  position: absolute;
  bottom: -5px;
  right: 0px;
  border: 2px solid #fff;
}

.customer-table .card {
  align-items: stretch;
}

.options-last {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.options-last .btn-user-actions {
  padding: 0.125rem;
  width: 50%;
}

.options-last .dropdown-menu .dropdown-item {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 0.25rem 0.75rem;
}

.options-last .dropdown-menu .dropdown-item i {
  color: #e30613;
  font-size: 0.75rem;
  margin-right: 5px;
  margin-top: 5px;
}

.options-last .dropdown-menu .dropdown-item span {
  font-weight: 300;
  white-space: break-spaces;
}

.options-last .customer-login {
  align-self: flex-end;
}

.options-last .customer-login .last-login {
  font-size: 0.85rem;
}

.options-last .customer-options i {
  color: #e30613;
  font-size: 1rem;
}

.card.orders-table {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 7px 7px 0 0;
}

.orders-table .order-options i {
  color: #e30613;
}

.orders-table .sm-actions {
  display: none;
}

.login-section {
  padding: 50px 0 10px 0;
}

.customer-action {
  margin: 0 15px;
  cursor: pointer;
}

.pill {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px auto;
}

.pill.success {
  background: #5CC46C;
}

.pill.warning {
  background: #FADE6A;
}

.pill.danger {
  background: #FF0000;
}

.sales-card {
  text-align: left;
  padding: 1.5rem 1rem;
}

.sales-card .amount {
  font-size: 40px;
  font-weight: 200;
}

.sales-card .period {
  color: #777777;
  font-size: 0.65rem;
  font-weight: 600;
}

.order-box {
  min-height: 125px;
  padding: 0.5rem 0 !important;
}

.orders-table tr td {
  padding: 1.25rem 0.25rem !important;
}

.orders-table tr td.table-actions {
  width: 40px !important;
}

.orders-table tr td.table-actions a {
  margin: 0 !important;
}

#orderDetails .close {
  margin: -1rem -1rem -1rem -4rem;
}

#orderDetails .close:focus {
  background-color: #ffffff !important;
}

@media (max-width: 768px) {
  .customer-table {
    margin: 1rem;
  }
  .customer-table .text-left {
    text-align: center !important;
  }
}

@media (min-width: 768px) and (max-width: 1150px) {
  .options-last .btn-user-actions {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Order info modal
--------------------------------------------------------------*/
.order-info-parent table {
  width: 100%;
}

.order-info-parent table td {
  vertical-align: baseline;
}

.order-info-parent .label {
  width: 42%;
  padding-right: 0.75em;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  color: #6c757d;
  text-align: right;
}

.order-info-parent > .col-12 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.order-info-parent > .col-12:last-child {
  border-bottom: 0;
}

@media (min-width: 992px) {
  .order-info-parent .label {
    text-align: left;
  }
}

/*# sourceMappingURL=maps/dao-admin.css.map */
